- name: Install workstation packages
  pacman:
    name:
      - emacs-wayland
      - firefox
      - ghostty
      - hypridle
      - hyprland
      - hyprlock
      - pipewire
      - sddm
      - ttf-jetbrains-mono-nerd
      - waybar
      - wireplumber
      - wl-clipboard
      - xdg-desktop-portal-hyprland
    state: present
  become: true
