# - name: Install workstation AUR packages
#   kewlfft.aur.aur:
#     name:
#       - xdg-terminal-exec
#     use: yay
#     state: present
#   become: true
#   become_user: mas

# - name: Copy first-login script
#   copy:
#     src: first-login.sh
#     dest: /home/mas/.local/bin/first-login.sh
#     owner: mas
#     group: mas
#     mode: "0755"
#   become: true

# - name: Create ~/.config/systemd directories
#   file:
#     path: /home/mas/.config/systemd/user/default.target.wants
#     state: directory
#     owner: mas
#     group: mas
#     mode: "0755"
#   become: true

# - name: Copy first-login service
#   copy:
#     src: first-login.service
#     dest: /home/mas/.config/systemd/user/first-login.service
#     owner: mas
#     group: mas
#     mode: "0644"
#   become: true

# - name: Enable first-login service
#   file:
#     src: /home/mas/.config/systemd/user/first-login.service
#     dest: /home/mas/.config/systemd/user/default.target.wants/first-login.service
#     state: link
#     owner: mas
#     group: mas
#   become: true

- name: Install workstation packages
  pacman:
    name:
      - bitwarden
      - emacs-wayland
      - firefox
      - ghostty
    state: present
  become: true
