- name: Install workstation packages
  pacman:
    name:
      - bash-completion
      - bitwarden
      - emacs-wayland
      - firefox
      - ghostty
      - gnome-keyring
      - hypridle
      - hyprland
      - hyprlock
      - hyprpaper
      - mako
      - pipewire
      - polkit-gnome
      - power-profiles-daemon
      - sddm
      - swayosd
      - ttf-jetbrains-mono-nerd
      - uwsm
      - waybar
      - wireplumber
      - wl-clipboard
      - xdg-desktop-portal-hyprland
      - xdg-desktop-portal-gtk
      - xdg-user-dirs
      - xdg-user-dirs-gtk
    state: present
  become: true

- name: Install workstation AUR packages
  kewlfft.aur.aur:
    name:
      - xdg-terminal-exec
    use: yay
    state: present
  become: true
  become_user: mas

- name: Create ~/.local/bin
  file:
    path: /home/mas/.local/bin
    state: directory
    owner: mas
    group: mas
    mode: "0755"
  become: true

- name: Copy first-login script
  copy:
    src: first-login.sh
    dest: /home/mas/.local/bin/first-login.sh
    owner: mas
    group: mas
    mode: "0755"
  become: true

- name: Create ~/.config/systemd
  file:
    path: /home/mas/.config/systemd/user
    state: directory
    owner: mas
    group: mas
    mode: "0755"
  become: true

- name: Copy first-login service
  copy:
    src: first-login.service
    dest: /home/mas/.config/systemd/user/first-login.service
    owner: mas
    group: mas
    mode: "0644"
  become: true

- name: Enable first-login service
  systemd:
    name: first-login.service
    enabled: true
    scope: user
    daemon_reload: true
  become: true
  become_user: mas

### Move to first-login?
- name: Create keyring directory
  file:
    path: "/home/mas/.local/share/keyrings"
    state: directory
    owner: mas
    group: mas
    mode: "0700"
  become: true

- name: Create default keyring
  copy:
    content: |
      [keyring]
      display-name=Default keyring
      ctime={{ ansible_facts["date_time"].epoch }}
      mtime=0
      lock-on-idle=false
      lock-after=false
    dest: "/home/mas/.local/share/keyrings/Default_keyring.keyring"
    owner: mas
    group: mas
    mode: "0600"
    force: false
  become: true

- name: Create default keyring pointer
  copy:
    content: "Default_keyring\n"
    dest: "/home/mas/.local/share/keyrings/default"
    owner: mas
    group: mas
    mode: "0644"
    force: false
  become: true
