- name: Install server packages
  pacman:
    name:
      - emacs-nox
      - openssh
    state: present
  become: true

- name: Disable root login via ssh
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "^#?PermitRootLogin"
    line: "PermitRootLogin no"
    state: present
  become: true
  notify: Restart sshd

- name: Disable ssh passwords
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "^#?PasswordAuthentication"
    line: "PasswordAuthentication no"
    state: present
  become: true
  notify: Restart sshd

- name: Enable and start ssh
  systemd:
    name: sshd
    enabled: true
    state: started
  become: true
