- name: Install base packages
  pacman:
    name:
      - base-devel
      - git
      - jq
      - less
      - man-db
      - networkmanager
      - openssh
      - plocate
      - ripgrep
      - tmux
      - vim
    state: present
  become: true

- name: Install host-specific packages
  pacman:
    name: "{{ packages }}"
    state: present
  become: true
  when: packages | length > 0

- name: No sudo password for me
  copy:
    content: "mas ALL=(ALL:ALL) NOPASSWD: ALL\n"
    dest: /etc/sudoers.d/00_mas
    mode: "0440"
    owner: root
    group: root
    validate: visudo -cf %s
  become: true

- name: Create .emacs.d
  file:
    path: "{{ dir_item.dir }}"
    state: directory
    owner: "{{ dir_item.owner }}"
    group: "{{ dir_item.group }}"
    mode: "0755"
  loop:
    - { dir: /root/.emacs.d, owner: root, group: root }
    - { dir: /home/mas/.emacs.d, owner: mas, group: mas }
  loop_control:
    loop_var: dir_item
  become: true

- name: Copy minimal emacs config
  copy:
    src: init.el
    dest: "{{ file_item.dir }}/init.el"
    owner: "{{ file_item.owner }}"
    group: "{{ file_item.group }}"
    mode: "0644"
  loop:
    - { dir: /root/.emacs.d, owner: root, group: root }
    - { dir: /home/mas/.emacs.d, owner: mas, group: mas }
  loop_control:
    loop_var: file_item
  become: true
