- name: Install base packages
  pacman:
    name:
      - git
      - jq
      - less
      - man-db
      - openssh
      - plocate
      - tmux
      - vim
    state: present
  become: true

# - name: Install yay
#   kewlfft.aur.aur:
#     name: yay-bin
#     use: makepkg
#     state: present
#   become: true
#   become_user: mas
#
# - name: Install host-specific AUR packages
#   kewlfft.aur.aur:
#     name: "{{ aur_packages }}"
#     use: yay
#     state: present
#   become: true
#   become_user: mas
#   when: aur_packages | length > 0

- name: No sudo password for me
  copy:
    content: "mas ALL=(ALL:ALL) NOPASSWD: ALL\n"
    dest: /etc/sudoers.d/00_mas
    mode: "0440"
    owner: root
    group: root
    validate: visudo -cf %s
  become: true

- name: Install host-specific packages
  pacman:
    name: "{{ packages }}"
    state: present
  become: true
  when: packages | length > 0

- name: Create .emacs.d
  file:
    path: "{{ dir_item.dir }}"
    state: directory
    owner: "{{ dir_item.owner }}"
    group: "{{ dir_item.group }}"
    mode: "0755"
  loop:
    - { dir: /root/.emacs.d, owner: root, group: root }
    - { dir: /home/mas/.emacs.d, owner: mas, group: mas }
  loop_control:
    loop_var: dir_item
  become: true

- name: Copy minimal emacs config
  copy:
    src: init.el
    dest: "{{ file_item.dir }}/init.el"
    owner: "{{ file_item.owner }}"
    group: "{{ file_item.group }}"
    mode: "0644"
    force: "{{ file_item.force }}"
  loop:
    - { dir: /root/.emacs.d, owner: root, group: root, force: true }
    - { dir: /home/mas/.emacs.d, owner: mas, group: mas, force: false }
  loop_control:
    loop_var: file_item
  become: true
